<div id="navbar-container">
  <div id="navbar-menu-container">
    <ul id="navbar-menu">
      <li>Clientes</li>
      <li>Productos</li>
      <li>Ventas</li>
      <li>Compras</li>
      <li>Proveedores</li>
    </ul>
  </div>
</div>